-# encoding: utf-8
!!! 5
%html(xmlns="http://www.w3.org/1999/xhtml")

	!= include 'views/invisible_header.haml'

	%body
		%h1
			%a{:href => $config['approot']}= title

		!= include 'views/search_form.haml'


		%h2 Search Results

		%ul
			!= include_for_each results, 'views/search_item.haml'

		-if current_page > 1
			%a{:rel => "prev",  :href => "?q=#{@req['q']}&page=#{current_page-1}"} « Previous

		-if current_page < total_pages
			%a{:rel => "next",  :href => "?q=#{@req['q']}&page=#{current_page+1}"} Next »

		!= include 'views/visible_footer.haml'
